@font-face {
  font-family: bebas;
  src: url("../fonts/bebasneue_regular-webfont.eot");
  src: url("../fonts/bebasneue_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/bebasneue_regular-webfont.woff2") format("woff2"), url("../fonts/bebasneue_regular-webfont.woff") format("woff"), url("../fonts/bebasneue_regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: helveticaneue;
  src: url("../fonts/helveticaneuecyr-medium-webfont.eot");
  src: url("../fonts/helveticaneuecyr-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/helveticaneuecyr-medium-webfont.woff2") format("woff2"), url("../fonts/helveticaneuecyr-medium-webfont.woff") format("woff"), url("../fonts/helveticaneuecyr-medium-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: sinhala;
  src: url("../fonts/sinhalamn-webfont.eot");
  src: url("../fonts/sinhalamn-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/sinhalamn-webfont.woff2") format("woff2"), url("../fonts/sinhalamn-webfont.woff") format("woff"), url("../fonts/sinhalamn-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*@import 'normalize';*/
/*---------COMMON STYLES-------------*/
* {
  outline: none !important;
  transition: all .3s; }

body {
  font-family: bebas, Arial, sans-serif;
  border-top: 7px solid #e2e2e2;
  color: #474747; }

p {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; }

a,
a:focus,
a:hover {
  color: black;
  text-decoration: none; }

a:hover {
  color: #e37000; }

h2 {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.3px; }

/*---------HEADER--------------------*/
.navbar {
  background-color: #fff;
  border: none;
  margin: 0;
  padding: 41px 0 32px; }
  @media screen and (max-width: 849px) {
    .navbar {
      padding: 30px 0 20px; } }
  .navbar .navbar-brand,
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    font-family: sinhala;
    font-size: 72px; }
    @media screen and (max-width: 1059px) {
      .navbar .navbar-brand,
      .navbar .navbar-brand:hover,
      .navbar .navbar-brand:focus {
        font-size: 64px; } }
    @media screen and (max-width: 849px) {
      .navbar .navbar-brand,
      .navbar .navbar-brand:hover,
      .navbar .navbar-brand:focus {
        font-size: 58px; } }
    .navbar .navbar-brand span,
    .navbar .navbar-brand:hover span,
    .navbar .navbar-brand:focus span {
      color: #e37000; }
  .navbar .nav li a {
    font-size: 24px;
    padding: 0 30px; }
    @media screen and (max-width: 1059px) {
      .navbar .nav li a {
        font-size: 20px;
        padding: 0 15px; } }
    @media screen and (max-width: 849px) {
      .navbar .nav li a {
        font-size: 18px;
        line-height: 55px;
        padding: 0 8px; } }
    @media screen and (max-width: 599px) {
      .navbar .nav li a {
        line-height: 40px; } }
    .navbar .nav li a span {
      color: #e2e2e2;
      font-size: 16px;
      display: block;
      margin-bottom: 4px; }
      @media screen and (max-width: 1059px) {
        .navbar .nav li a span {
          font-size: 14px; } }
      @media screen and (max-width: 849px) {
        .navbar .nav li a span {
          display: none; } }
  .navbar .nav li:last-child > a {
    padding-right: 8px; }
    @media screen and (max-width: 849px) {
      .navbar .nav li:last-child > a {
        padding-right: 0; } }

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e37000; }
  .navbar-default .navbar-nav > li > a:hover span,
  .navbar-default .navbar-nav > li > a:focus span {
    color: #777777; }

/*------------SLIDER-----------------*/
.carousel-inner .item {
  margin-top: 15px; }
  @media screen and (max-width: 599px) {
    .carousel-inner .item {
      margin-top: 0; } }

.carousel-caption {
  width: 100%;
  height: 84px;
  font-family: HelveticaNeue;
  background-color: #fbfbfb;
  text-shadow: none;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0; }
  @media screen and (max-width: 849px) {
    .carousel-caption {
      height: 35px;
      overflow: hidden; } }
  @media screen and (max-width: 599px) {
    .carousel-caption {
      display: none; } }
  .carousel-caption .caption-header {
    width: 234px;
    height: 84px;
    opacity: 0.9;
    background-color: #444;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 30px;
    margin: 0;
    padding: 9px 15px;
    float: left;
    text-align: left; }
    @media screen and (max-width: 1059px) {
      .carousel-caption .caption-header {
        width: 190px;
        font-size: 18px; } }
    @media screen and (max-width: 849px) {
      .carousel-caption .caption-header {
        width: 100%;
        padding: 0 15px;
        line-height: 35px; } }
    .carousel-caption .caption-header span {
      display: block;
      color: #9a9a9a;
      font-size: 14px;
      font-weight: 500; }
      @media screen and (max-width: 1059px) {
        .carousel-caption .caption-header span {
          font-size: 12px; } }
      @media screen and (max-width: 849px) {
        .carousel-caption .caption-header span {
          display: inline-block;
          margin-right: 15px; } }
  .carousel-caption p {
    margin-left: 261px;
    color: #414141;
    text-align: left;
    font-size: 12px;
    font-weight: 500;
    padding-top: 17px;
    line-height: 1.4; }
    @media screen and (max-width: 1059px) {
      .carousel-caption p {
        margin-left: 206px;
        padding: 10px 6px 0 0;
        line-height: 1.3; } }
    @media screen and (max-width: 849px) {
      .carousel-caption p {
        display: none; } }

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  top: 50%; }
  @media screen and (max-width: 849px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right {
      font-size: 24px;
      text-align: center; } }

.carousel-control .glyphicon-chevron-right {
  right: 30%; }

.carousel-control .glyphicon-chevron-left {
  left: 25%; }
  @media screen and (max-width: 1059px) {
    .carousel-control .glyphicon-chevron-left {
      left: 30%; } }

.carousel-indicators {
  width: 130px;
  margin: 0;
  bottom: 9px;
  left: initial;
  right: 11px; }
  @media screen and (max-width: 359px) {
    .carousel-indicators {
      display: none; } }
  .carousel-indicators li,
  .carousel-indicators .active {
    margin: 0 5px;
    width: 30px;
    height: 10px;
    background-color: #ffb5b5;
    border: 1px solid white;
    border-radius: 0; }
    @media screen and (max-width: 849px) {
      .carousel-indicators li,
      .carousel-indicators .active {
        margin: 0 3px;
        width: 25px; } }
  .carousel-indicators .active {
    background-color: #454545; }

/*----------Section MAIN --------------*/
#main {
  margin-top: 61px; }
  @media screen and (max-width: 849px) {
    #main {
      margin-top: 35px; } }
  @media screen and (max-width: 849px) {
    #main article {
      margin: 15px 0; } }
  #main article div {
    float: left;
    width: 63px;
    height: 64px;
    margin-right: 16px;
    background: url(../img/iconSprite.png) 0 2px no-repeat; }
    @media screen and (max-width: 359px) {
      #main article div {
        display: none; } }
  #main h2 {
    margin-top: 10px;
    width: 80%; }
    @media screen and (max-width: 1059px) {
      #main h2 {
        width: 100%; } }
    @media screen and (max-width: 849px) {
      #main h2 {
        line-height: 70px;
        padding-left: 50px;
        margin-top: 0; } }
    @media screen and (max-width: 359px) {
      #main h2 {
        line-height: 40px;
        padding-left: 30px; } }
  #main p {
    margin: 24px 5px 10px;
    min-height: 89px; }
    @media screen and (max-width: 1059px) {
      #main p {
        min-height: 140px; } }
    @media screen and (max-width: 849px) {
      #main p {
        margin: 10px 0;
        min-height: 70px; } }
  #main .offer div {
    background-position: -67px 0; }
  #main .follow div {
    background-position: -133px 2px; }

.articleLink {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.4px;
  padding-left: 26px;
  margin-left: 5px;
  display: block;
  background: url(../img/rightIcon.svg) 0 1px no-repeat; }
  .articleLink:hover {
    background-position: 5px 1px; }

/*-------------spotlights-----------------*/
.headerline {
  text-align: center;
  margin: 16px 0;
  background: url(../img/bg-pattern.png) 0 2px repeat-x; }
  .headerline h1 {
    display: inline;
    font-size: 24px;
    line-height: 32px;
    padding: 1px 50px;
    background-color: #fff; }
    @media screen and (max-width: 599px) {
      .headerline h1 {
        padding: 1px 10px; } }

#spotlights {
  margin-top: 58px; }
  @media screen and (max-width: 1059px) {
    #spotlights {
      margin-top: 35px; } }
  #spotlights figure:hover img {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  #spotlights figure:hover figcaption {
    color: #e37000; }
  @media screen and (max-width: 1059px) {
    #spotlights figure {
      text-align: center;
      margin: 15px 0; } }
  @media screen and (max-width: 599px) {
    #spotlights figure {
      margin: 25px 0; } }
  #spotlights figure div {
    overflow: hidden; }
  @media screen and (max-width: 849px) {
    #spotlights figure img {
      width: 220px;
      height: 195px; } }
  @media screen and (max-width: 1059px) {
    #spotlights figure figcaption {
      text-align: left;
      width: 80%;
      margin: 0 auto; } }
  @media screen and (max-width: 849px) {
    #spotlights figure figcaption {
      width: 100%; } }
  @media screen and (max-width: 599px) {
    #spotlights figure figcaption {
      width: 80%; } }
  #spotlights figure figcaption h2 {
    margin: 12px 0 7px;
    letter-spacing: 0; }
  @media screen and (max-width: 1059px) {
    #spotlights figure figcaption p {
      min-height: 65px; } }
  @media screen and (max-width: 849px) {
    #spotlights figure figcaption p {
      min-height: 75px; } }
  @media screen and (max-width: 599px) {
    #spotlights figure figcaption p {
      min-height: auto; } }

/*-------------speakers--------------------*/
#Speakers {
  margin-top: 55px; }
  @media screen and (max-width: 1059px) {
    #Speakers {
      margin-top: 35px; } }
  #Speakers figure {
    text-align: center; }
    @media screen and (max-width: 1059px) {
      #Speakers figure {
        margin: 15px 0; } }
    #Speakers figure div {
      width: 195px;
      height: 195px;
      margin: 0 auto;
      border-radius: 50%; }
    #Speakers figure:hover div {
      border-radius: 20%;
      box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.4); }
    #Speakers figure:hover figcaption {
      color: #e37000; }
    #Speakers figure figcaption h2 {
      margin-top: 13px;
      letter-spacing: 0; }
    @media screen and (max-width: 1059px) {
      #Speakers figure figcaption p {
        width: 80%;
        margin: 0 auto;
        min-height: 70px; } }
    @media screen and (max-width: 849px) {
      #Speakers figure figcaption p {
        min-height: 80px; } }
    @media screen and (max-width: 599px) {
      #Speakers figure figcaption p {
        width: 60%;
        margin: 0 auto; } }
  #Speakers .speaker1 {
    background: url(../img/speaker1.jpg) top center no-repeat; }
  #Speakers .speaker2 {
    background: url(../img/speaker2.jpg) center no-repeat; }
  #Speakers .speaker3 {
    background: url(../img/speaker3.jpg) center no-repeat; }
  #Speakers .speaker4 {
    background: url(../img/speaker4.jpg) -60px center no-repeat; }

/*-------------FOOTER--------------------*/
footer.container-fluid {
  background-color: #faa95b;
  margin-top: 64px;
  padding-bottom: 20px;
  color: #fff; }
  @media screen and (max-width: 1059px) {
    footer.container-fluid {
      margin-top: 10px; } }
  footer.container-fluid .row > div {
    padding-left: 14px; }
  footer.container-fluid h2 {
    color: black;
    letter-spacing: 0;
    margin-top: 18px; }
  footer.container-fluid ul {
    padding: 0;
    line-height: 24px;
    list-style: inside url(../img/listStyle.png); }
    @media screen and (max-width: 359px) {
      footer.container-fluid ul {
        list-style-position: outside; } }
    footer.container-fluid ul li a {
      color: white; }
      footer.container-fluid ul li a:hover {
        color: #e37000; }

#toTop {
  display: none;
  text-decoration: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 51px;
  height: 51px;
  border: 2px solid #555;
  border-radius: 10px;
  text-indent: 100%;
  background: url(../img/to-top1.png) no-repeat center top; }

#toTopHover {
  background-position: top center;
  border-radius: 50%;
  width: 51px;
  height: 51px;
  display: block;
  overflow: hidden;
  float: left;
  opacity: 0;
  -moz-opacity: 0;
  filter: alpha(opacity=0); }

#toTop:active, #toTop:focus {
  outline: none; }

.textWdg p {
  line-height: 20px;
  width: 80%; }

.twIcon {
  background: #e37000 url(../img/BirdTwitter.png) center no-repeat;
  border-radius: 7px 0 0 7px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 42px;
  width: 42px;
  position: absolute;
  left: -42px;
  top: 10px; }
  .twIcon::after {
    content: "";
    height: 0px;
    width: 0px;
    top: 15px;
    border-left: 5px solid #e37000;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    position: absolute;
    right: -5px;
    border-top: 5px solid transparent;
    border-left: 5px solid #e37000; }

@media screen and (max-width: 599px) {
  .twWdg {
    max-width: 360px; } }

.twWdg h2 {
  padding-left: 3px; }

.twMessage {
  background-color: #eebf31;
  border-radius: 6px;
  border: 1px solid rgba(9, 69, 55, 0.56);
  height: 117px;
  width: 244px;
  margin: 17px 0 0 44px;
  position: relative;
  padding-left: 17px;
  padding: 0 10px 10px 17px; }
  @media screen and (max-width: 849px) {
    .twMessage {
      width: 75%; } }
  .twMessage h3 {
    font-size: 12px;
    color: #0f4f41;
    margin: 12px 0 6px; }
  .twMessage p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 100%; }

@media screen and (max-width: 599px) {
  .formWdg {
    max-width: 360px; } }

.formWdg form {
  position: relative; }

.formWdg form > * {
  margin-top: 7px;
  padding-left: 11px;
  width: 100%;
  color: #a29d9d;
  box-shadow: inset 2.8px 2.8px 15px rgba(0, 0, 0, 0.24);
  border: 1px solid rgba(2, 36, 28, 0.56);
  font-size: 12px;
  line-height: 18px; }

.formWdg input {
  height: 36px; }

.formWdg textarea {
  height: 62px; }

.formWdg input[type=submit] {
  width: 36%;
  height: 25px;
  position: absolute;
  bottom: 7px;
  right: 0;
  color: #fff;
  background-color: #e37000;
  background-image: linear-gradient(to top, transparent 0%, #f4a251 100%);
  border: 1px solid rgba(118, 84, 54, 0.72);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.85); }

.socLink {
  margin-top: 18px; }
  .socLink div {
    display: inline-block;
    margin-right: 2px;
    width: 28px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 50%;
    background: url(../img/SocIcons.png) 0 0 no-repeat;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); }
  .socLink .face {
    background-position: 0 0; }
  .socLink .tw {
    background-position: -31px 0; }
  .socLink .google {
    background-position: -62px 0; }
  .socLink div:hover {
    background-position-y: 1px;
    box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.2); }
