* {
    margin: 0;
    padding: 0;
}
body{
    background-color: #2a2d32;
    font-family: 'Open Sans', Arial, sans-serif;
}
header{
    width: 960px;
    margin: 0 auto;
    text-align: center;
    border-bottom: 1px solid #6a6c70;
}

main {
    width: 960px;
    overflow: hidden;
    padding: 25px;
    margin: 10px auto;
}

section{
    width: 33%;
    float: left;
}

h1 {
     color: #fff;
    margin: 25px auto;
    font-weight: bold;
    font-size: 36px;
}

h3 {
    color: #fff;
    margin: 20px auto;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

ol, ul {
    margin: 25px;
    padding: 10px 30px;
    text-align: left;
}

ul {
    list-style: none;
}

li {
    color: #6a6c70;
    font-size: 12px;
    font-weight: bold;
}

li span{
    float: right;
}
