*{
    margin: 0;
    padding: 0;
}

body {
    width: 640px;
    height: 640px;
    margin: 25px auto;
    font-size: 48px;
    background-color: #000000;
    border: 2px solid chartreuse;
    text-align: center;
    box-shadow: 0 0 15px 1px darkgray;
}

#my_timer {
    color: #7fff00;
    font-size: 300%;
    font-weight: bold;
    line-height: 150px;
    padding-top: 15px;
    margin: 50px auto 0;
    text-shadow: 0 0 15px darkgray;
}

.display {
    box-shadow: 0 0 10px darkgray;
    margin-bottom: 100px;
}

#buttonStart, #buttonClear {
    width: 250px;
    height: 60px;
    font-size: 100%;
    position: relative;
    color: #7fff00;
    background: linear-gradient(#404040, #000000);
    border: 2px solid chartreuse;
    border-radius: 25px;
    box-shadow: 0 0 10px darkgray;
}

#buttonStart:hover, #buttonClear:hover {
    cursor: pointer;
    text-shadow: 0 0 15px darkgray;
}

#buttonStart:focus, #buttonClear:focus {
    outline: none;
}

#buttonStartValue, #buttonClearValue {
    display: block;
    width: 100%;
    position: absolute;
    top: -3px;
}

#millis {
    font-size: 30px;
    text-align: right;
    margin-right: 68px;
    color: rgba(150, 150, 150, 0.6);
    text-shadow: 0 0 1px darkgray;
}