@import url(https://fonts.googleapis.com/css?family=Ubuntu:400);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);
@font-face {
  font-family: 'IcoMoon';
  src: url("../fonts/IcoMoon-Free.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

/*---------COMMON STYLES-------------*/
* {
  padding: 0;
  margin: 0; }

li {
  float: left;
  list-style: none; }

a {
  text-decoration: none !important; }

.iconFont {
  font: 16px IcoMoon, Arial, sans-serif; }

h2 {
  font: 24px "Ubuntu", sans-serif;
  font-weight: normal; }

h5 {
  font: 16px "Ubuntu", sans-serif;
  font-weight: normal; }

.simpleText, .news .banners .accordion label, footer .footerLinks li a, footer .copy .container p {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #8a8a8a; }

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

body {
  background-color: #fff;
  width: 100%; }

.container {
  max-width: 1200px;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  overflow: hidden; }
  @media screen and (max-width: 640px) {
    .container {
      padding-left: 10px;
      padding-right: 10px; } }
  @media screen and (max-width: 360px) {
    .container {
      padding-left: 5px;
      padding-right: 5px; } }

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

/*------------Header---------------*/
header {
  padding-top: 36px; }
  @media screen and (max-width: 960px) {
    header {
      padding-top: 28px; } }
  header .logo {
    margin-left: 5px; }
    @media screen and (max-width: 480px) {
      header .logo {
        display: block;
        margin: 0 auto 20px;
        width: 205px; } }
  header .socnetwork {
    line-height: 45px;
    float: right; }
    @media screen and (max-width: 480px) {
      header .socnetwork {
        height: 45px;
        width: 180px;
        margin: 0 auto;
        text-align: center;
        float: none; } }
    header .socnetwork a {
      color: #ccc;
      margin-left: 18px; }
      @media screen and (max-width: 480px) {
        header .socnetwork a {
          margin: 0 10px; } }
    header .socnetwork a:hover {
      color: #248cec; }

.navbar {
  min-height: 57px;
  margin-top: 37px;
  background-color: #2a2d32;
  border: none;
  border-radius: 0; }
  @media screen and (max-width: 960px) {
    .navbar {
      min-height: 44px; } }
  @media screen and (max-width: 480px) {
    .navbar {
      margin-top: 20px; } }
  .navbar .navbar-collapse {
    padding-right: 0;
    padding-left: 0; }
  .navbar .navbar-toggle {
    float: left;
    margin-left: 15px; }
    @media screen and (max-width: 360px) {
      .navbar .navbar-toggle {
        margin-left: 5px; } }
    .navbar .navbar-toggle:focus {
      background-color: transparent; }
  @media screen and (max-width: 767px) {
    .navbar .nav li {
      float: none; } }
  .navbar .nav li a {
    color: #fff;
    padding: 0 39px;
    font: 14px/57px 'Ubuntu Condensed', sans-serif;
    text-transform: uppercase;
    border-right: 1px solid #181a1d; }
    @media screen and (max-width: 960px) {
      .navbar .nav li a {
        padding: 0 28px;
        font: 14px/44px 'Ubuntu Condensed', sans-serif; } }
    @media screen and (max-width: 767px) {
      .navbar .nav li a {
        text-align: center;
        padding: 0; } }
    .navbar .nav li a:hover {
      color: #f4b60d; }
    .navbar .nav li a:active, .navbar .nav li a:focus {
      color: #fff;
      background-color: #248cec; }
  .navbar .navbar-nav {
    margin: 0; }
  .navbar .search {
    float: right;
    position: relative;
    width: 240px;
    margin: 10px;
    box-sizing: border-box; }
    @media screen and (max-width: 960px) {
      .navbar .search {
        margin: 6px;
        width: 210px; } }
    @media screen and (max-width: 767px) {
      .navbar .search {
        margin: 9px; } }
    @media screen and (max-width: 360px) {
      .navbar .search {
        width: 190px;
        margin: 9px 5px; } }
    .navbar .search input {
      border: 1px solid #181a1d;
      background: #35383c; }
    .navbar .search .input {
      width: 100%;
      box-sizing: border-box;
      padding: 10px 52px 10px 15px;
      border-right: none;
      color: #84888C;
      font: 12px Arial, Tahoma, sans-serif;
      outline: none; }
      @media screen and (max-width: 960px) {
        .navbar .search .input {
          padding: 8px 41px 8px 8px; } }
    .navbar .search .input:focus {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
      background: #E8E8E8;
      color: #333; }
    .navbar .search .submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 37px;
      height: 100%;
      border-left: none;
      cursor: pointer;
      color: #84888C;
      font-family: IcoMoon, Arial, sans-serif; }
      @media screen and (max-width: 960px) {
        .navbar .search .submit {
          width: 33px; } }
    .navbar .search .submit:hover {
      opacity: 0.8; }

.carouselBox {
  margin-top: 19px; }
  .carouselBox .carousel-inner {
    max-height: 470px; }
  .carouselBox .carousel-indicators {
    bottom: 17px;
    left: 46%;
    width: 95px;
    padding-left: 0;
    text-align: center; }
    @media screen and (max-width: 640px) {
      .carouselBox .carousel-indicators {
        bottom: 12px;
        left: 40%; } }
    @media screen and (max-width: 360px) {
      .carouselBox .carousel-indicators {
        left: 35%;
        bottom: 8px; } }
  .carouselBox .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin: 0 8px;
    border: 3px solid #ffffff;
    background-color: #fff; }
    @media screen and (max-width: 360px) {
      .carouselBox .carousel-indicators li {
        width: 12px;
        height: 12px; } }
  .carouselBox .carousel-indicators .active {
    background-color: #001d1d; }
  .carouselBox .carousel-caption {
    width: 270px;
    left: 4%;
    bottom: 45px;
    padding: 1%;
    color: #ffffff;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.6); }
    @media screen and (max-width: 960px) {
      .carouselBox .carousel-caption {
        width: 240px;
        bottom: 35px; } }
    @media screen and (max-width: 768px) {
      .carouselBox .carousel-caption {
        width: 185px; } }
    @media screen and (max-width: 640px) {
      .carouselBox .carousel-caption {
        width: 100%;
        left: 0;
        top: 0;
        bottom: auto; } }
    @media screen and (max-width: 360px) {
      .carouselBox .carousel-caption {
        display: none; } }
    .carouselBox .carousel-caption h1 {
      color: #fff;
      font: 500 52px/1 Ubuntu, sans-serif;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin: 0; }
      @media screen and (max-width: 960px) {
        .carouselBox .carousel-caption h1 {
          font: 500 46px/1 Ubuntu, sans-serif; } }
      @media screen and (max-width: 768px) {
        .carouselBox .carousel-caption h1 {
          font: 500 36px/1 Ubuntu, sans-serif; } }
      @media screen and (max-width: 640px) {
        .carouselBox .carousel-caption h1 {
          font: 500 28px/1 Ubuntu, sans-serif;
          letter-spacing: 1px;
          text-align: center; } }
    .carouselBox .carousel-caption span {
      color: #f4b60d; }

/*-------------Section FEATURES-----------------*/
.features {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 72px;
  padding-bottom: 80px; }
  @media screen and (max-width: 640px) {
    .features {
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      padding-bottom: 30px; } }
  @media screen and (max-width: 360px) {
    .features {
      margin-top: 50px; } }
  .features article {
    display: block;
    width: 31%;
    height: 240px; }
    @media screen and (max-width: 960px) {
      .features article {
        width: 32%;
        height: auto; } }
    @media screen and (max-width: 768px) {
      .features article {
        padding: 0 10px; } }
    @media screen and (max-width: 640px) {
      .features article {
        width: 75%;
        margin-bottom: 50px; } }
    @media screen and (max-width: 480px) {
      .features article {
        width: 95%; } }
    @media screen and (max-width: 360px) {
      .features article {
        width: 100%; } }
    .features article .bgDigit {
      display: inline-block;
      float: left;
      width: 89px;
      height: 100%;
      background-image: url(../img/digit.png);
      background-repeat: no-repeat;
      margin-right: 33px; }
      @media screen and (max-width: 960px) {
        .features article .bgDigit {
          height: 75px;
          margin-right: 10px; } }
      @media screen and (max-width: 768px) {
        .features article .bgDigit {
          float: none;
          height: 70px; } }
      @media screen and (max-width: 640px) {
        .features article .bgDigit {
          float: left; } }
    .features article .featureIcon {
      width: 42px;
      height: 42px;
      background: url(../img/bigIconSprite.png) 0 -6px no-repeat;
      margin-left: 120px; }
      @media screen and (max-width: 960px) {
        .features article .featureIcon {
          margin-left: 97px;
          height: 34px; } }
      @media screen and (max-width: 768px) {
        .features article .featureIcon {
          display: inline-block;
          margin-left: 0; } }
      @media screen and (max-width: 640px) {
        .features article .featureIcon {
          display: block;
          margin-left: 97px;
          height: 42px; } }
  .features .featureCentr .bgDigit {
    background-position: -89px 0; }
  .features .featureCentr .featureIcon {
    background-position: -42px -6px; }
  .features .featureRight {
    margin-right: 0; }
    .features .featureRight .bgDigit {
      background-position: -185px 0; }
    .features .featureRight .featureIcon {
      background-position: -88px -9px; }
  .features h3 {
    color: #2a2b2e;
    font: normal 20px "Ubuntu", sans-serif; }
  .features p {
    color: #8a8a8a;
    font: 13px/1.5 Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin: 10px 0; }
    @media screen and (max-width: 960px) {
      .features p {
        padding: 0 5px; } }
    @media screen and (max-width: 480px) {
      .features p {
        padding: 0; } }
  .features a {
    color: #2a2b2e;
    font: 13px "Ubuntu", sans-serif; }
    .features a span {
      color: #248cec;
      font-size: 13px;
      margin: 5px; }
  .features a:hover {
    color: #248cec; }
    .features a:hover span {
      color: #a3a9bb; }

/*-------------Section SERVICES-----------------*/
.services {
  width: 100%;
  padding-bottom: 72px;
  background-color: #2a2d32;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .services {
      padding-bottom: 20px; } }
  @media screen and (max-width: 768px) {
    .services .row {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; } }
  .services h2 {
    color: #fff;
    font: 24px "Ubuntu", sans-serif;
    font-weight: normal;
    line-height: 120px; }
    @media screen and (max-width: 768px) {
      .services h2 {
        line-height: 90px; } }
  .services figure {
    width: 23%;
    text-align: center; }
    @media screen and (max-width: 768px) {
      .services figure {
        -webkit-flex-basis: 40%;
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
        margin: 0 15px 40px; } }
    @media screen and (max-width: 480px) {
      .services figure {
        -webkit-flex-basis: 60%;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%; } }
    @media screen and (max-width: 360px) {
      .services figure {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%; } }
    .services figure div {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 30px;
      background-color: #248cec; }
    .services figure img {
      width: 100%;
      height: auto; }
    .services figure h5 {
      color: #fff; }
    .services figure a:hover h5 {
      color: #d9a412; }
    .services figure a:hover img {
      opacity: .1; }

/*-------------Section NEWS-----------------*/
.news {
  width: 100%;
  padding-bottom: 75px;
  background-color: #f7f7f7; }
  @media screen and (max-width: 960px) {
    .news {
      padding-bottom: 40px; } }
  .news .container {
    overflow: visible; }
  .news h2 {
    line-height: 130px;
    color: #2a2d32; }
    @media screen and (max-width: 768px) {
      .news h2 {
        line-height: 90px; } }
    @media screen and (max-width: 480px) {
      .news h2 {
        line-height: 70px; } }
  .news span {
    color: #248cec; }
  .news .latest {
    width: 45%;
    float: left; }
    @media screen and (max-width: 768px) {
      .news .latest {
        width: 70%;
        float: none;
        margin: 0 auto; } }
    @media screen and (max-width: 640px) {
      .news .latest {
        width: 90%; } }
    @media screen and (max-width: 480px) {
      .news .latest {
        width: 80%; } }
    @media screen and (max-width: 360px) {
      .news .latest {
        width: 95%; } }
    .news .latest div {
      padding-left: 190px;
      background-repeat: no-repeat;
      min-height: 150px;
      margin: 0 0 30px -17px; }
      @media screen and (max-width: 480px) {
        .news .latest div {
          padding: 170px 0 0;
          background-position: center top;
          margin-left: 0; } }
      .news .latest div a {
        color: #2a2d32; }
      .news .latest div a:hover {
        color: #248cec; }
      .news .latest div p {
        padding: 10px 0; }
    .news .latest .machinery {
      background-image: url(../img/machinery.png); }
    .news .latest .techniques {
      background-image: url(../img/techniques.png); }
  .news .banners {
    width: 48%;
    float: right; }
    @media screen and (max-width: 768px) {
      .news .banners {
        width: 70%;
        float: none;
        margin: 0 auto; } }
    @media screen and (max-width: 640px) {
      .news .banners {
        width: 90%; } }
    @media screen and (max-width: 360px) {
      .news .banners {
        width: 100%; } }
    .news .banners .accordion input {
      display: none; }
    .news .banners .accordion label {
      text-transform: uppercase; }
    .news .banners .accordion > :not(input):not(label) {
      overflow: hidden;
      height: 0;
      margin: 0;
      padding-left: 40px;
      transition: 1s; }
    .news .banners .accordion > label {
      overflow: hidden;
      display: block;
      line-height: 37px;
      padding: 0 10px;
      margin: 2px 0;
      background-color: #fff;
      color: #2a2d32;
      border: 1px solid #e8e8e8;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer; }
    .news .banners .accordion > :checked + label + * {
      overflow: auto;
      height: 140px;
      padding: 15px 5px 5px 40px; }
      @media screen and (max-width: 768px) {
        .news .banners .accordion > :checked + label + * {
          height: 160px; } }
      @media screen and (max-width: 360px) {
        .news .banners .accordion > :checked + label + * {
          height: 200px; } }
    .news .banners .accordion > :checked + label {
      color: #fff;
      background-color: #f4b60d;
      cursor: default; }

.logoLinks .row {
  padding: 75px 0 65px;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media screen and (max-width: 960px) {
    .logoLinks .row {
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; } }
  @media screen and (max-width: 768px) {
    .logoLinks .row {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 50px 0;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 360px) {
    .logoLinks .row {
      padding: 30px 0; } }
  @media screen and (max-width: 768px) {
    .logoLinks .row a {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100px;
      width: 225px; } }
  @media screen and (max-width: 768px) and (max-width: 480px) {
    .logoLinks .row a {
      width: 170px; } }
  .logoLinks .row div {
    height: 64px;
    background-image: url(../img/logoSprite.png); }
  .logoLinks .row .rbp {
    width: 100px;
    background-position: -7px 0; }
  .logoLinks .row .moto {
    width: 100px;
    background-position: -132px 0; }
  .logoLinks .row .crave {
    width: 160px;
    background-position: -256px 0; }
  .logoLinks .row .atx {
    width: 108px;
    background-position: -436px 0; }
  .logoLinks .row .cruiser {
    width: 123px;
    background-position: -570px 0; }
  .logoLinks .row .gear {
    width: 89px;
    background-position: -725px 0; }

footer {
  width: 100%;
  background-color: #2a2d32; }
  footer .footerLinks {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 60px 0; }
    @media screen and (max-width: 768px) {
      footer .footerLinks {
        -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 50px 0 25px; } }
    @media screen and (max-width: 480px) {
      footer .footerLinks {
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; } }
    @media screen and (max-width: 360px) {
      footer .footerLinks {
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center; } }
    footer .footerLinks div {
      width: 22%; }
      @media screen and (max-width: 768px) {
        footer .footerLinks div {
          width: 34%;
          margin-bottom: 50px; } }
      @media screen and (max-width: 640px) {
        footer .footerLinks div {
          width: 40%;
          margin-bottom: 50px; } }
      @media screen and (max-width: 480px) {
        footer .footerLinks div {
          width: 45%; } }
      @media screen and (max-width: 360px) {
        footer .footerLinks div {
          width: 60%; } }
    footer .footerLinks h5 {
      color: #fff;
      text-transform: uppercase; }
    footer .footerLinks ul {
      margin-top: 40px; }
      @media screen and (max-width: 768px) {
        footer .footerLinks ul {
          margin-top: 25px; } }
    footer .footerLinks li {
      float: none;
      border-bottom: 1px solid #393c40; }
      footer .footerLinks li a {
        line-height: 2.5;
        color: #6a6c70; }
        @media screen and (max-width: 480px) {
          footer .footerLinks li a {
            font-size: 12px; } }
        @media screen and (max-width: 360px) {
          footer .footerLinks li a {
            font-size: 14px; } }
      footer .footerLinks li a:hover {
        color: #248cec; }
    footer .footerLinks li:last-child {
      border-bottom: none; }
  footer .copy {
    background-color: #35383c; }
    @media screen and (max-width: 768px) {
      footer .copy .container {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 20px 0; } }
    footer .copy .container p {
      float: left;
      line-height: 60px;
      margin-right: 40px;
      font-size: 12px; }
      @media screen and (max-width: 960px) {
        footer .copy .container p {
          margin-right: 10px; } }
      @media screen and (max-width: 768px) {
        footer .copy .container p {
          margin: 0 25px;
          line-height: 30px;
          text-align: center;
          float: none; } }
      footer .copy .container p span {
        margin-right: 10px; }
    footer .copy .container p:last-child {
      float: right;
      margin-right: 0; }
      @media screen and (max-width: 768px) {
        footer .copy .container p:last-child {
          float: none;
          margin-right: 25px; } }
