@font-face {
  font-family: 'IcoMoon';
  src: url('../fonts/IcoMoon-Free.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Condensed);

$icon: IcoMoon, Arial, sans-serif;
$ubuntu: 'Ubuntu', sans-serif;

* {
  padding: 0;
  margin: 0;
}

li {
  float: left;
  list-style: none;
}

a {
  text-decoration: none;
}

.iconFont {
  font: 16px $icon;
}

h2 {
  font: 24px $ubuntu;
  font-weight: normal;
}

h5 {
  font: 16px $ubuntu;
  font-weight: normal;
}

.simpleText {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
  color: #8a8a8a;
}

.clearfix:after {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

body {
  background-color: #fff;
  width: 100%;
}

.container {
  width: 1160px;
  margin: 0 auto;
  overflow: hidden;
}

header {
  width: 1160px;
  margin: 0 auto;
  line-height: 110px;

  .socnetwork {
    float: right;
    a {
      color: #ccc;
      margin-left: 15px;
    }
    a:hover {
      color: #248cec;
    }
  }
}

.menu {
  width: 1160px;
  height: 57px;
  margin: 5px auto;
  background-color: #2a2d32;

  a {
    line-height: 57px;
    display: inline-block;
    color: #fff;
    padding: 0 40px;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    border-right: 1px solid #181a1d;
  }
  a:hover {
    color: #f4b60d;
  }
  a:active, a:focus {
    color: #fff;
    background-color: #248cec;
  }

  .search {
    float: right;
    width: 22%;
    margin: 10px;
    position: relative;

    input {
      border: 1px solid #181a1d;
      background: #35383c;

    }

    .input {
      width: 100%;
      padding: 10px 52px 10px 15px;
      box-sizing: border-box;
      border-right: none;
      color: #84888C;
      font: 12px Arial, Tahoma, sans-serif;
      outline: none;
    }

    .input:focus {
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2), inset 0 1px 2px rgba(0, 0, 0, 0.4);
      background: #E8E8E8;
      color: #333;
    }

    .submit {
      position: absolute;
      top: 0;
      right: 0;
      width: 37px;
      height: 100%;
      border-left: none;
      cursor: pointer;
      color: #84888C;
      font-family: $icon;
    }

    .submit:hover {
      opacity: 0.8;
    }
  }
}

.carouselBox {
  margin: 40px auto 75px;
  position: relative;

  .slog {
    position: absolute;
    left: 35px;
    bottom: 40px;
    z-index: 555;
  }
  .slider {
    z-index: 9;
    width: 1160px;
    height: 473px;
    overflow: hidden;
    position: relative;
  }
  .slider ul {
    width: 9999px;
  }
  .slider ul li {
    width: 1160px;
    height: 473px;
  }
  .slider .nav {
    position: absolute;
    left: 540px;
    bottom: 17px;
  }
  .slider .nav span {
    opacity: 0.9;
    background: #fff;
    margin: 0 8px 0 0;
    width: 16px;
    height: 16px;
    cursor: pointer;
    overflow: hidden;
    display: block;
    float: left;
    box-shadow: 0 1px 2px #000;
  }
  .slider .nav span.on {

    background: #001d1d;
  }
}

.features {
  @extend .container;

  h3 {
    color: #2a2b2e;
    font: 20px $ubuntu;
    font-weight: normal;
  }

  p {
    color: #8a8a8a;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5;
    margin: 10px 0;
  }

  a {
    color: #2a2b2e;
    font: 13px $ubuntu;
    span {
      color: #248cec;
      font-size: 13px;
      margin: 5px;
    }
  }
  a:hover {
    color: #248cec;
    span {
      color: #a3a9bb;
    }
  }
  article {
    float: left;
    width: 32%;
    height: 190px;

    .bgDigit {
      float: left;
      width: 89px;
      height: 100%;
      background-image: url(../img/digit.png);
      background-repeat: no-repeat;
      margin-right: 20px;
    }

    .featureIcon {
      width: 42px;
      height: 42px;
      background-image: url(../img/bigIconSprite.png);
      margin-left: 108px;
    }
  }
  .featureCentr {
    margin: 0 2%;
    .bgDigit {
      background-position: -89px 0;
    }
    .featureIcon {
      background-position: -42px 0;
    }
  }
  .featureRight {
    .bgDigit {
      background-position: -185px 0;
    }
    .featureIcon {
      background-position: -88px -8px;
    }
  }
}

.services {
  width: 100%;
  padding-bottom: 65px;
  background-color: #2a2d32;
  overflow: hidden;

  h2 {

    color: #fff;
    font: 24px $ubuntu;
    font-weight: normal;
    line-height: 120px;
  }
  figure {
    float: left;
    margin-right: 40px;
    text-align: center;
    div {
      width: 260px;
      height: 260px;
      margin-bottom: 30px;
      background-image: url(../img/imgSprite.png);
      img {
        opacity: 0;
      }
    }
    h5 {
      color: #fff;
    }
    a:hover h5 {
      color: #d9a412;
    }
    a:hover img {
      opacity: .8;
    }
  }
  figure:last-child {
    margin-right: 0;
  }
  .Schedule {
  }
  .Preventive {
    background-position: -300px 0px;
  }
  .Tire {
    background-position: -600px 0px;
  }
  .Repair {
    background-position: -900px 0px;
  }
}

/*section NEWS*/

.news {
  width: 100%;
  padding-bottom: 75px;
  background-color: #f7f7f7;
  .container {
    overflow: visible;
  }
  h2 {
    line-height: 130px;
    color: #2a2d32;
  }

  span {
    color: #248cec;
  }

  .latest {
    width: 45%;
    float: left;

    div {
      padding-left: 190px;
      background-repeat: no-repeat;
      min-height: 150px;
      margin: 0 0 30px -17px;

      a {
        color: #2a2d32;
      }
      a:hover {
        color: #248cec;
      }

      p {
        padding: 10px 0;
      }
    }

    .machinery {
      background-image: url(../img/machinery.png);
    }
    .techniques {
      background-image: url(../img/techniques.png);
    }
  }

  .banners {
    width: 48%;
    float: right;

    /*Accordeon*/

    .accordion {
      input {
        display: none;
      }
      label {
        @extend .simpleText;
        text-transform: uppercase;
      }

    }

    .accordion > :not(input):not(label) {
      overflow: hidden;
      height: 0;
      margin: 0;
      padding-left: 40px;
      transition: 1s;
    }

    .accordion > label {
      overflow: hidden;
      display: block;
      line-height: 37px;
      padding: 0 10px;
      margin: 2px 0;
      background-color: #fff;
      color: #2a2d32;
      border: 1px solid #e8e8e8;
      white-space: nowrap;
      text-overflow: ellipsis;
      cursor: pointer;
    }

    .accordion > :checked + label + * {
      overflow: auto;
      height: 140px;
      padding: 15px 5px 5px 40px;
    }

    .accordion > :checked + label {
      color: #fff;
      background-color: #f4b60d;
      cursor: default;
    }
  }

}

.logoLinks {

  ul {
    width: 100%;
    padding: 75px 0 65px;
    text-align: justify;
  }

  li {
    float: none;
    display: inline-block;
    padding: 0 20px;
  }

  li.helper {
    width: 100%;
    height: 0;
    visibility: hidden;
  }

  div {
    height: 64px;
    background-image: url(../img/logoSprite.png);
  }

  .rbp {
    width: 100px;
    background-position: -7px 0;
  }
  .moto {
    width: 100px;
    background-position: -132px 0;
  }
  .crave {
    width: 160px;
    background-position: -256px 0;
  }
  .atx {
    width: 108px;
    background-position: -436px 0;
  }
  .cruiser {
    width: 123px;
    background-position: -570px 0;
  }
  .gear {
    width: 89px;
    background-position: -725px 0;
  }
}

footer {
  width: 100%;
  background-color: #2a2d32;

  .footerLinks {

    padding: 60px 0;

    h5 {
      color: #fff;
      text-transform: uppercase;
    }
    ul {
      margin-top: 40px;
    }
    li {
      float: none;
      border-bottom: 1px solid #393c40;

      a {
        @extend .simpleText;
        line-height: 2.5;
        color: #6a6c70;
      }

      a:hover {
        color: #248cec;
      }
    }
    li:last-child {
      border-bottom: none;
    }
    div {
      float: left;
      width: 22%;
      margin-right: 4%;
    }
    div:last-child {
      margin-right: 0;
    }

  }
  .copy {
    background-color: #35383c;
    p {
      @extend .simpleText;
      float: left;
      line-height: 60px;
      margin-right: 40px;
      font-size: 12px;
      span {
        margin-right: 10px;
      }
    }

    p:last-child {
      float: right;
      margin-right: 0;
    }

  }
}