*{
    margin: 0;
    padding: 0;
}

.carouselBox {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
}

.carousel-hider {
    width: 650px;
    margin: 0 auto;
    overflow: hidden;
    float: left;
    border-radius: 5px;
    box-shadow: 0 0 5px #262729;
    height: 151px;
    padding: 19px;
    background-color: #eeeeee;
}

.carousel-list {
    list-style: none;
    width: 10000px;
    position: relative;
}

.carousel-element {
    display: block;
    margin-right: 25px;
    float: left;
}

.carousel-element img {
    max-width: 198px;
    border: 1px solid #1E90FF;
    border-radius: 5px;
    box-shadow: 0 0 4px #000;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
}

.carousel-arrow-left, .carousel-arrow-right {
    float: left;
    display: block;
    border: 1px solid grey;

    padding: 3px;
    margin-top: 75px;


    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 2px #999;
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 1px #000;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    color: #fff;
    background-color: #4E443C;
}

.carousel-arrow-left:hover, .carousel-arrow-right:hover {
    cursor: pointer;
    background-color: rgba(119, 136, 153, .8);
}

.carousel-arrow-left {
    margin-right: 21px;
}

.carousel-arrow-right {
    margin-left: 21px;
}