@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    width: 510px;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #AAAAAA;
    box-shadow: 0 0 4px #AAAAAA;
    font-family: Verdana,Arial,sans-serif;
}

#tabsBlock {
    width: 500px;
    margin: 0 auto 20px;
    padding: 5px;
    position: relative;
    overflow: auto;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
}

.tabs {
    width: 488px;
    height: 30px;
    padding: 5px 5px 0;
    background: linear-gradient(#e2e2e2, #cccccc);
    border: 1px solid #AAAAAA;
    border-bottom: none;
    border-radius: 5px;
}

.tabsItem {
    height: 18px;
    padding: 5px;
    display: inline-block;
    list-style: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: linear-gradient(#eeeeee, #e2e2e2, #eeeeee);
    border: 1px solid #cfcfcf;
    border-bottom: 1px solid #d3d3d3;
}

.tabsItem--activ {
    background: #FFFFFF;
    border: 1px solid #AAAAAA;
    border-bottom: 1px solid #FFFFFF;
}

.tabsItem:hover {
    cursor: pointer;
}

.tabsItem a {
    color: black;
    font-size: 16px;
    text-decoration: none;
}

.tabsContent {
    width: 480px;
    padding: 10px;
    top: 48px;
    display: none;
}

.tabsContent--visibl {
    display: block;
}

.formItem {
    width: 250px;
    height: 30px;
    position: relative;
}

.formItem input {
    float: right;
    width: 150px;
    height: 18px;
}

.formItem input:hover {
    box-shadow: 0 0 4px #595bff;
    border: 1px solid dodgerblue;
    /*box-shadow: 2px 2px 5px grey;*/
}

#submit {
    margin: 10px auto;
    width: 150px;
    height: 25px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
}

#submit:hover {
    cursor: pointer;
    box-shadow: 0 0 4px #595bff;
    border: 1px solid #1E90FF;
}

fieldset {
    padding: 10px;
    border: 1px solid #AAAAAA;
    border-radius: 5px;
}

legend {
    font-size: 12px;
}

.prompt {
    display: none;
    width: 215px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 265px;
    color: #FFFFFF;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    border-radius: 4px;
    background-color: #1E90FF;
    border: 1px solid #1E90FF;
    box-shadow: 2px 2px 5px grey;
}

.prompt:after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 4px;
    left: -9px;
    border-top: 6px solid transparent;
    border-right: 8px solid #1E90FF;
    border-bottom: 6px solid transparent;
}
