@charset "utf-8";


$accentColor: #ffc20e;
$headerColor: #323232;
$textColor: #6b6b6b;
$contrastText: white;
$bgColor: #f9f8f8;



/**************************************
*****        COMMON STYLES        *****
**************************************/

* {
	// outline: none!important;
	outline-color: $accentColor;
}

html {
	font-size: 10px;

	@media screen and (max-width: 768px) {
		font-size: 8px;
	}
}

body {
	font: 400 1.5rem 'Roboto', sans-serif;
	color: $textColor;
	background-color: #fff;
	transition: all 1s;
}

h1 {
	font: 400 8rem 'Playball', cursive;
	@media screen and (max-width: 520px) {
		font-size: 6rem;
	}
}

h2 {
	font-size: 3.6rem;
	@media screen and (max-width: 520px) {
	font-size: 3rem;
	}
}

a,
a:focus,
a:hover {
	color: $accentColor;
	text-decoration: none;
}

li {
	display: inline-block;
	list-style: none;
}

section {
	padding-top: 6rem;
	padding-bottom: 6rem;

	@media screen and (max-width: 680px) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
}

.sectionHeader {
	width: 100%;
	text-align: center;
	padding-bottom: 6rem;
	@media screen and (max-width: 680px) {
		padding-bottom: 5rem;
	}

	h2 {
		margin-top: 0;
		text-transform: uppercase;
		font-weight: normal;
	}
	p {
		width: 70%;
		margin: auto;
		@media screen and (max-width: 520px) {
		width: 90%;
		}
	}
}

.container {
	max-width: 1170px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	height: 100%;
}

.flaxBox{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.accentText {
	color: $accentColor;
}

.accentLink {
	color: $accentColor;
	font-weight: 700;
}


/**************************************
*****            HEADER           *****
**************************************/

header {
	width: 100%;
	min-height: 100vh;
	// min-height: 360px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../img/bg_header.jpg') center/cover no-repeat fixed, gray;
}

.navigation {
	width: 100%;
	height: 6rem;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 999;
}


.logo {
	display: inline-block;
	width: auto;
	color: $contrastText;
	text-transform: uppercase;
	@media screen and (max-width: 768px) {
		font-size: 2rem;
	}
}

.menu {
	text-align: right;
	display: inline-block;
	width: auto;
}

.menu__icon {
	display: none;
	width: 25px;
	height: 21px;
	position: relative;
	cursor: pointer;
}

.menu__icon span {
	display: block;
	position: absolute;
	height: 3px;
	width: 100%;
	background: $contrastText;
	border-radius: 3px;
	opacity: 1;
	left: 0;
	transform: rotate(0deg);
	transition: .25s ease-in-out;
}

.menu__icon span:nth-child(1) {
	top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
	top: 9px;
}

.menu__icon span:nth-child(4) {
	top: 18px;
}

.menu__links-item {
	display: inline-block;
	color: $contrastText;
	font-family: Arial;
	font-size: 14px;
	line-height: 30px;
	padding: 0 15px;
	text-decoration: none;
	&--active {
		background-color: $headerColor;
	}
}

.menu.menu_state_open .menu__icon span:nth-child(1) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
	transform: rotate(45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(3) {
	transform: rotate(-45deg);
}

.menu.menu_state_open  .menu__icon span:nth-child(4) {
	top: 18px;
	width: 0%;
	left: 50%;
}

.menu.menu_state_open .menu__links {
	display: block;  
}

@media screen and (max-width: 767px) {
	.menu__icon{
		display: inline-block;
	}

	.menu__links {
		position: fixed;
		display: none;
		top: 0;
		right: 0;
		left: 0;
		margin-top: 52px;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 1000;
		overflow: auto;
	}

	.menu__links-item {
		display: block;
		padding: 10px 0;
		text-align: center;
		color: $contrastText;
	}
}

.banner {
	margin-left: 14rem;
	color: $headerColor;
	text-align: center;
	padding-right: 5%;
	h1{
		// font-size: 8rem;
		margin: -30% 0 0;
	}
	p {
		font-size: 2rem;
		margin-bottom: 5rem;
	}
	button {

		width: 19rem;
		height: 5rem;
		font-size: 1.8rem;
		text-transform: uppercase;
		background-color: $accentColor;
		border: none;
		cursor: pointer;
	}
}

/**************************************
*****           ABOUT US          *****
**************************************/


#about .flaxBox {
	@media screen and (max-width: 680px) {
		justify-content: center;
	}
}

.aboutContent {
	box-sizing: border-box;
	width: 40%;
	padding: 0 0.5rem;
	@media screen and (max-width: 680px) {
		width: 90%;
	}
}

.skills {
	width: 60%;
	&__name {
		margin-bottom: 1rem;
		text-transform: uppercase;
	}
	@media screen and (max-width: 680px) {
		width: 90%;
	}
}

/**************************************
*****          SUBSCRIBE          *****
**************************************/

#subscribe {
	background-color: $accentColor;
	.sectionHeader {
		padding-bottom: 3rem;
		color: $headerColor;
	}
}

.subscribeForm {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and (max-width: 960px) {
		justify-content: space-around;
	}
	input {
		height: 4.4rem;
		opacity: 0.5;
		padding: 0.5rem;
		box-sizing: border-box;
		background-color: white;
		border: none;
		margin-bottom: 3rem;
	}
	input[type="text"] {
		width: 25%;
		@media screen and (max-width: 960px) {
			width: 30%;
		}
		@media screen and (max-width: 680px) {
			width: 80%;
	}

	}
	input[type="email"] {
		width: 30%;
		@media screen and (max-width: 680px) {
			width: 80%;
		}
	}
	input[type="submit"] {
		width: 15rem;
		opacity: 1;
		text-transform: uppercase;
		color: $contrastText;
		background-color: $headerColor;
		cursor: pointer;

		@media screen and (max-width: 680px) {
			width: 25%;
		}
	}

}

/**************************************
*****           OUR TEAM          *****
**************************************/

#team {
	background-color: $headerColor;
	color: $contrastText;
}

.teamWrap {
	display: flex;
	align-content: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	@media screen and (max-width: 960px) {
		justify-content: space-around;
	}
}

.teamCard {
	display: flex;
	flex-direction: column;
	// justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 23%;
	margin-bottom: 5rem;
	@media screen and (max-width: 960px) {
		width: 45%;
	}

	@media screen and (max-width: 600px) {
		width: 80%;
	}

	@media screen and (max-width: 420px) {
		width: 90%;
	}

	img {
		border: 5px solid $accentColor;
		border-radius: 50%;
		max-width: 20rem;
		// max-height: 20rem;
		width: 80%;
	}
	button {
		width: 8.5rem;
		height: 4rem;
		background: $accentColor url(../img/mail-4.svg) center / 40% no-repeat;
		border: none;
		cursor: pointer;
		border-radius: 5px;
		margin-top: auto;
	}
	p {
		text-align: center;
		width: 100%;
		box-sizing: border-box;
		padding: 1rem 1.5rem;
	}
}

/**************************************
*****          PORTFOLIO          *****
**************************************/

.galleryFilter {
	display: flex;
	justify-content: center;
	ul{
		width: 50%;
		padding: 0;
		display: flex;
		justify-content: space-between;
		@media screen and (max-width: 980px) {
			width: 70%;
		}
		@media screen and (max-width: 600px) {
			width: 90%;
		}
		@media screen and (max-width: 480px) {
			flex-wrap: wrap;
			justify-content: space-around;
		}

		li {
			border: 1px solid $accentColor;
			cursor: pointer;
			padding: 1rem 2rem;
			@media screen and (max-width: 991px) {
				margin-bottom: 2rem;
			}
		}
	}
}

.activeFilter{
	background-color: $accentColor;

}


.filtr-item {
	width: 33.33333%;
	box-sizing: border-box;
	text-align: center;
	padding: 1%;
	@media screen and (max-width: 960px) {
		width: 50%;
		padding: 1% 4%;
	}
	@media screen and (max-width: 600px) {
		width: 100%;
		padding: 1% 15%;
	}
	@media screen and (max-width: 520px) {
		padding: 1% 10%;
	}
	@media screen and (max-width: 480px) {
		padding: 1% 5%;
	}
	@media screen and (max-width: 420px) {
		padding: 1%;
	}
}

.filtr-item figure {
	width: 100%;
	position: relative;
	overflow: hidden;
	margin: 0;
	text-align: center;
	cursor: pointer;
}

.filtr-item figure img {
	position: relative;
	display: block;
	max-width: 100%;
	opacity: 0.8;
}

.filtr-item figure figcaption {
	color: #fff;
	text-transform: uppercase;
}


.filtr-item figure figcaption,
.filtr-item figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.filtr-item figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.filtr-item figure h2,
.filtr-item figure p {
	margin: 0;
}

.effect-goliath {
	background: $accentColor;
}

.effect-goliath img{
	transition: transform 0.35s;
}

.effect-goliath h2 {
	transition: transform 0.35s;
	font-size: 2rem;
}

.effect-goliath img {
	backface-visibility: hidden;

}

.effect-goliath h2,
.effect-goliath p {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1rem;
}

.effect-goliath p {
	text-transform: none;
	font-size: 1.5rem;
	// padding: 0.5rem;
	opacity: 0;
	transition: opacity 0.35s, transform 0.35s;
	transform: translate3d(0, 2rem, 0);
}

.effect-goliath:hover img {
	transform: translate3d(0,-5rem,0);
}

.effect-goliath:hover h2 {
	transform: translate3d(0,-4rem,0);
}

.effect-goliath:hover p {
	opacity: 1;
	transform: translate3d(0,-1rem,0);
}

/**************************************
*****            FOOTER           *****
**************************************/

footer {
	width: 100%;
	min-height: 100vmin;
	// min-height: 360px;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	// align-items: flex-end;
	justify-content: space-between;
	padding-top: 3rem;
	padding-bottom: 3rem;
	background: url('../img/bg_contact.jpg') center/cover no-repeat fixed, gray;
	color: $contrastText;
	.menu, p {
		text-align: center;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	.sectionHeader {
		padding-bottom: 4rem;
	}
}

.contactForm {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 0 auto 2rem;
	width: 40%;
	justify-content: space-between;
	@media screen and (max-width: 680px) {
		width: 80%;
	}
	@media screen and (max-width: 520px) {
		width: 90%;
	}


	input[type="text"] {
		height: 3.5rem;
		border: 0.1rem solid #ccc;
		border-radius: 3px;
		margin-bottom: 1rem;
		padding: 0.2rem 1rem; 
	}
	input[type="submit"] {
		align-self: center;
		width: 17.5rem;
		height: 4.5rem;
		font-size: 2.5rem;
		color: $contrastText;
		background-color: $accentColor;
		border: none;
		border-radius: 5px;
		text-transform: uppercase;
		cursor: pointer;
	}
	textarea {
		height: 9rem;
		border: 0.1rem solid #ccc;
		border-radius: 3px;
		padding: 1rem; 
		margin-bottom: 3rem;
	}
}