<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RequireJS</title>
    <link rel="stylesheet" href="css/style.css">
    <script data-main="js/main" src="js/require.js"></script>
</head>
<body>

<script type="text/html" id="pattern">
    <div class="container">
        <h1>RequireJS + MVC</h1>
        <ul class="list">

        </ul>
        <div class="controlls">
            <input type="text" class="textInput">
            <button class="addButton">add</button>
        </div>
    </div>
</script>
<script type="text/html" id="patternList">
    <% for (var i = 0; i < obj.length; i++) { %>
    <li class="listItem">
        <span class="itemText" title="double click for edit"><%= obj[i]%></span>
        <span class="remove" data-value="<%= obj[i]%>">x</span>
    </li>
    <% } %>
</script>
</body>
</html>