<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Programming test</title>
    <link rel="stylesheet" href="css/style.css">
   <!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
   <script src="js/test.js"></script>
   <script src="js/script.js"></script> -->
   <script data-main="js/app" src="js/require"></script>
</head>
<body>

<div class="modalOverlay">

    <div class="modalWindow">
        <h3>Результаты теста</h3>
        <hr>
        <div id="message"></div>
        <button class="close">Закрыть</button>
    </div>
</div>

<script type="text/html" id="pattern">
    <h2>Тест по программированию</h2>
    <ol id="questionList">
        <% for (var i = 0; i < testObj.length; i++) { %>
        <li><%= testObj[i].title%>
            <ul>
                <% for (var j = 0; j < testObj[i].answers.length; j++) { %>
                <li>
                    <input type="radio" id="<%= 'check' + i + j%>" name="<%= i%>" value="<%= j%>">

                    <label for="<%= 'check' + i + j%>" class="radioLabel"><%= testObj[i].answers[j].answer%></label>
                </li>
                <% } %>
            </ul>
        </li>
        <% } %>
    </ol>
    <button id="verificationBut">Проверить мои результаты</button>
</script>

</body>
</html>