<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Search AJAX API</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.3.0/lodash.js"></script>
    <script src="js/script.js"></script>
</head>
<body>
<div class="requestForm">
    <img src="img/googlelogo_color_270x104dp.png" class="logo" alt="">
    <form action="#" name="form">
        <input type="text" id="searchInput" name="q" value=""
               placeholder="Введите запрос для поиска в Google или укажите URL">
        <input type="submit" id="searchButton" value="  поиск  ">
    </form>
</div>
<main></main>
<script type="text/html" id="pattern">
    <% for (var i = 0; i < responseObj.length; i++) { %>
    <div class="responseBox">
        <a href="<%= responseObj[i].unescapedUrl %>"><%= responseObj[i].titleNoFormatting %></a>
        <p class="url"><%= responseObj[i].unescapedUrl %></p>
        <p class="content"><%= responseObj[i].content %></p>
    </div>
    <% } %>
</script>
</body>
</html>