*{
    margin: 0;
    padding: 0;
}

.box{
    width: 920px;
    height: 330px;
    position: relative;
    margin: 0px auto;
    overflow: hidden;
    background-color: #eeeeee;
    border: 1px solid #aaaaaa;
    border-radius: 10px;
    box-shadow: 0 0 5px #404040;
}

.button{
    width: 100px;
    position: absolute;
    bottom: 25px;
    right: 25px;
    color: #1E90FF;
    font-size: 16px;
    border-radius: 10px;
    background: linear-gradient(#eeeeee, #aaaaaa);
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 3px #1E90FF;
}

.button:hover{
    cursor: pointer;
}

.numerator{
    position: absolute;
    bottom: 25px;
    left: 25px;
    color: #1E90FF;
    font-size: 18px;
    font-family: Arial, sans-serif;
    text-shadow: 0 0 2px #fff;
}

.leftOut{
    width: 160px;
    height: 120px;
    position: absolute;
    top: 0;
    left: -165px;
    border: 2px solid #1E90FF;
    box-shadow: 0 0 6px #1E90FF;
    border-radius: 5px;
    opacity: .2;
}

.leftIn{
    width: 240px;
    height: 180px;
    position: absolute;
    top: 30px;
    left: 30px;
    border: 2px solid #1E90FF;
    box-shadow: 0 0 6px #1E90FF;
    border-radius: 5px;
    opacity: .2;
}

.centr{
    width: 320px;
    height: 240px;
    position: absolute;
    top: 60px;
    left: 300px;
    border: 2px solid #1E90FF;
    box-shadow: 0 0 6px #1E90FF;
    border-radius: 5px;
    opacity: 1;
}

.rightIn{
    width: 240px;
    height: 180px;
    position: absolute;
    top: 30px;
    left: 650px;
    border: 2px solid #1E90FF;
    box-shadow: 0 0 6px #1E90FF;
    border-radius: 5px;
    opacity: .2;
}

.rightOut{
    width: 160px;
    height: 120px;
    position: absolute;
    top: 0;
    left: 925px;
    border: 2px solid #1E90FF;
    box-shadow: 0 0 6px #1E90FF;
    border-radius: 5px;
    opacity: .2;
}

.top{
    width: 160px;
    height: 120px;
    position: absolute;
    top: -120px;
    right: -920px;
    border: 2px solid #1E90FF;
    box-shadow: 0 0 6px #1E90FF;
    border-radius: 5px;
    opacity: 0;
}